<%@ Page Language="C#" EnableSessionState="true" %>

<%
    Random randomGenerator = new Random(DateTime.Now.Millisecond);

    String RandData = "";
    for (int i = 0; i < 20; i++)
        RandData += Convert.ToChar(randomGenerator.Next(97, 122));

    Session["Message"] = RandData;
%>
<html>
<head>
    <title>Logon - AuthToken - Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <style type="text/css">
<!--
@import "test.css";
-->
</style>

    <script language="VBScript">
Dim  Digest
Dim  LicenseIDvalue 
sub ShowErr(Msg)
	Document.Writeln "<FONT COLOR='#FF0000'>"
	Document.Writeln "<P>&nbsp;</P><P>&nbsp;</P><P>&nbsp;</P><P ALIGN='CENTER'><B>ERROR:</B>"
	Document.Writeln "<P>&nbsp;</P><P ALIGN='CENTER'>"
	Document.Writeln Msg
	Document.Writeln "<br>"
	Document.Writeln "<P>&nbsp;</P><P>&nbsp;</P><P>&nbsp;</P>"
	Document.Writeln "</FONT>"
End Sub

function Validate()
	On Error Resume Next

	Digest = "01234567890123456789"
	
	Dim TheForm
	Set TheForm = Document.forms("ValidForm")
	
	'Check License expiration date on AuthToken
	AuthToken1.AppId="demo"
	AuthToken1.End_Date()
	If AuthToken1.message = "success" Then
		LicenseIDvalue = AuthToken1.date + "/" +AuthToken1.month+ "/" +AuthToken1.year
	else
		ShowErr AuthToken1.message
		Validate = false
		Exit function
	End If

	'Calculate AuthToken Hash
	AuthToken1.InputData = "<%=Session["Message"].ToString()%>"
	AuthToken1.IsAuthentic_client()
	If Err Then
	    If Err.number = &H1B6 Then
	        ShowErr "AuthToken security control is not registered"
	        Validate = false
			Exit function
		End If
	End If
	If AuthToken1.message = "Success" Then
	Digest = CStr(AuthToken1.ClientHash)
	
	else
	ShowErr AuthToken1.message
	Validate = false
	Exit function
		End If

	
			
		DigestID.innerHTML = "<input type='hidden' name='Digest' Value='" & Digest & "'>"
		LicenseID.innerHTML = "<input type='hidden' name='License_ID' Value='" & LicenseIDvalue & "'>"
	
End function
    </script>

</head>
<body>
   <OBJECT ID="AuthToken1" WIDTH=0 HEIGHT=0
 CLASSID="CLSID:36299202-09EF-4ABF-ADB9-47C599DBE778">
</OBJECT>
	<h1>&nbsp;</h1>
    <h1 align="center">AuthToken - Example</h1>
    <table width="600" border="0" align="center">
        <tr>
            <td>

                <script id="clientEventHandlersVBS" language="vbscript">
<!--
		Document.Writeln "<P>&nbsp;</P><P>&nbsp;</P></TD></TR><TR><TD>"
		Document.Writeln "<FORM id=ValidForm METHOD='post' ACTION='verify.aspx' onsubmit='return Validate();' language='jscript'>"

		Document.Writeln "<span id=DigestID></span>"
		Document.Writeln "<span id=LicenseID></span>"
		Document.Writeln "<TABLE WIDTH='250' BORDER='1' ALIGN='center' CELLSPACING='0' BORDERCOLORDARK='#E7EBFF' BORDERCOLORLIGHT='#000000'>"
		Document.Writeln "</TABLE><P>&nbsp;</P><P ALIGN='center'>"
		Document.Writeln "<INPUT TYPE='submit' NAME='Submit' VALUE='Logon' CLASS='inputbtn'>"
		Document.Writeln "&nbsp;&nbsp;&nbsp;"
-->
                </script>

            </td>
        </tr>
    </table>
    <h2>
        &nbsp;</h2>
    <p>
        &nbsp;</p>
    <p align="center">
        </p>
    <p align="center">
        </p>
</body>
</html>
